<div class="">
  <h4>Files Being Used:</h4>
  <p>(updated in realtime)</p>
</div>
<div class="row">
  <div class="col-md-4" *ngFor="let b of rtData">
    <mat-card class="queue-card">
      <mat-card-header>
        <mat-card-title>{{b.name}}</mat-card-title>
        <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
      </mat-card-header>
      <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <mat-card-content>
        <div *ngIf="b.queue">
          <ol>
            <li *ngFor="let x of b.queue">{{x}}</li>
          </ol>
        </div>

        <p>
          <strong>Updated on: </strong>{{b.updatedAt | date: 'medium' : 'PST'}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="/user/{{b._id}}" mat-raised-button color="accent">Update Queue</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
