.queue-card {
  max-width: 400px;
  margin: 0 auto;
}
mat-form-field {
  width: 100%;
}
mat-chip.mat-chip.mat-primary.mat-standard-chip.mat-chip-with-trailing-icon.ng-star-inserted {
  background: #0075c9;
}
