<div class="container">
  <div class="col-12">
    <h1 class="text-center" routerLink="/">
      {{title}}
    </h1>
    <p class="text-center">(MEAN Web Application)</p>

    <div class="btn-container">
      <button routerLink="new" class="btn btn-primary">New Queue</button>
      <button routerLink="get" class="btn btn-success">View Queue</button>
      <button routerLink="update" class="btn btn-warning">Update Queue</button>
    </div>
  </div>

  <br />
  <router-outlet></router-outlet>
</div>
