<div class="container">
  <div class="col-12">
    <h1 class="text-center" routerLink="/">
      {{title}}
    </h1>

    <div class="btn-container">
      <p>The files noted below are currently being used. The user, and the files they are currently using. All CRUD options are available.</p>
      <button routerLink="new" class="btn btn-primary">New data</button>
      <button routerLink="get" class="btn btn-success">Files in Queue</button>
      <button routerLink="update" class="btn btn-warning">Update</button>
    </div>
  </div>

  <br />
  <router-outlet></router-outlet>
</div>
