<div class="row">
  <div class="col-12">
    <h4>Update Queue:</h4>
  </div>
</div>

<div class="row" *ngIf="allData">
  <div class="col-md-4" *ngFor="let x of allData">
    <mat-card class="queue-card" id="{{x._id}}">
      <mat-card-header>
        <mat-card-title>{{x.name}}</mat-card-title>
        <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
      </mat-card-header>
      <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <mat-card-content>
        <input #nameInput id="name" class="form-control" type="text" [value]="x.name">
        <br />
        <p>Files: (separate by comma and space)</p>
        <input #queueInput id="queue" class="form-control" type="text" [value]="x.queue">
        <br />
        <p>
          <strong>Created at: </strong>{{x.createdAt | date: 'medium' : 'PST'}}
        </p>

        <p>
          <strong>Updated at: </strong>{{x.updatedAt | date: 'medium' : 'PST'}}
        </p>

      </mat-card-content>
      <mat-card-actions>
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->

        <button (click)="updateUser(x._id, $event)" class="btn btn-success update-btn">Update</button>
        <button (click)="deleteData(x._id)" class="btn btn-danger">Delete</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
