mat-form-field {
  width: 100%;
}
mat-chip.mat-chip.mat-primary.mat-standard-chip.mat-chip-with-trailing-icon.ng-star-inserted {
  background: #0075c9;
}
@media screen and (max-width: 992px) {
  button {
    width: 100%;
  }
  .mat-card-actions .mat-button, .mat-card-actions .mat-raised-button {
    margin: 0 0 10px 0;
  }
}
