//@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/theming';
@include mat-core();
/* You can add global styles to this file, and also import other style files */
$primary: mat-palette($mat-light-blue,500);
$accent: mat-palette($mat-amber, 300);

$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);

body {
  background-color: #efefef;
}
